/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
lege table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  font-family: "Roboto", sans-serif;
}
.container {
  border: 1px solid orange;
  margin: 0 auto;
  width: 1023px;
}
button {
  border: 1px solid #222222;
  height: 47px;
  font-size: 16px;
  width: 136px;
  text-align: center;
}
.menu-img {
  background-image: url("../img/home/home-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 598px;
  color: #FFFFFF;
}
.menu-img .menu-items {
  background-color: #99A4AF;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-img .menu-items h1 {
  margin-left: 90px;
  font-size: 22px;
}
.menu-img .menu-items img {
  margin-right: 80px;
}
.menu-img p {
  margin-left: 83px;
  margin-top: 275px;
  font-size: 63px;
  font-weight: bold;
  line-height: 1.2;
}
.business-content {
  display: flex;
  justify-content: space-between;
  width: 854px;
  margin: 0 auto;
}
.business-content .smith-jones-container,
.business-content .futuristic-designs-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.business-content .smith-jones-content,
.business-content .futuristic-designs-content {
  width: 411px;
}
.business-content .smith-jones-content {
  margin-top: 50px;
}
.business-content .smith-jones-content h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.business-content .smith-jones-content p {
  line-height: 1.6;
  margin-bottom: 25px;
}
.business-content .smith-jones-content .sjones-button {
  margin-bottom: 135px;
}
.business-content .futuristic-designs-content img {
  margin-bottom: 139px;
}
.business-content .futuristic-designs-content h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.business-content .futuristic-designs-content .project-text {
  line-height: 1.6;
  margin-bottom: 25px;
}
.recent-projects {
  margin: 0 auto;
  margin-top: 95px;
  border: 1px solid blue;
  width: 854px;
}
.recent-projects h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 45px;
}
.recent-projects .villas,
.recent-projects .outskirts,
.recent-projects .blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-projects .villas .project-text,
.recent-projects .outskirts .project-text,
.recent-projects .blocks .project-text {
  width: 450px;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.recent-projects .villas .villas-box {
  background-image: url("../img/home/home-villas-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 854px;
  position: relative;
}
.recent-projects .villas .villas-box p {
  border: 1px solid #FFFFFF;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 25px;
  width: 315px;
  text-align: center;
  height: 90px;
  background-color: #D8D8D8;
  letter-spacing: 1;
}
.recent-projects .outskirts .outskirts-box {
  background-image: url("../img/home/home-outskirts-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 854px;
}
.recent-projects .blocks .blocks-box {
  background-image: url("../img/home/home-the-blocks-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 854px;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer-section .footer {
  display: flex;
}
