/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
lege,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
lege table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  font-family: "Roboto", sans-serif;
}
.services-container {
  margin: 0 auto;
  width: 1023px;
}
.services-menu-img {
  background-image: url("../img/services/services-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  color: #FFFFFF;
}
.services-menu-img .services-menu-items {
  background-color: #99A4AF;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services-menu-img .services-menu-items h1 {
  margin-left: 90px;
  font-size: 22px;
}
.services-menu-img .services-menu-items img {
  margin-right: 80px;
}
.services-menu-img p {
  margin-left: 85px;
  margin-top: 110px;
  font-size: 63px;
  font-weight: bold;
  line-height: 1.2;
}
.services-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-middle-content {
  width: 850px;
}
.services-middle-content .services-text {
  margin-top: 49px;
  line-height: 1.6;
}
.button-tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}
.button-tabs button {
  width: 184px;
  font-weight: bold;
  font-size: 19px;
  background-color: #FFFFFF;
  transition-duration: 0.4s;
  height: 50px;
}
.button-tabs button:hover {
  background-color: #222222;
  color: #FFF;
}
.button-tabs button:focus {
  background-color: #5E9FB9;
}
.tab-show-hide .tab {
  display: flex;
  margin-top: 53px;
}
.tab-show-hide .tab .tab-text h2 {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.tab-show-hide .tab .tab-text .tab-text-areas {
  width: 416px;
}
.tab-show-hide .tab .tab-text .tab-text-areas .top-text {
  margin-top: 16px;
  line-height: 1.65;
  font-size: 16px;
}
.tab-show-hide .tab .tab-text .tab-text-areas .bottom-text {
  margin-top: 10px;
  line-height: 1.65;
  font-size: 16px;
}
.tab-show-hide .tab .tab-img {
  margin: 34px 0px 0px 36px;
}
.default {
  display: flex;
}
.services-footer-section {
  background-color: #828282;
  height: 248px;
  margin-top: 88px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}
.services-footer-section .services-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  margin: 0px 60px;
}
.services-footer-section .services-footer .services-contact-invite {
  font-size: 20px;
  margin-bottom: 5px;
}
.services-footer-section .services-footer input {
  width: 275px;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0px;
}
.services-footer-section .services-footer .services-privacy-statement {
  font-size: 13px;
}
.services-footer-section .services-footer address {
  line-height: 1.6;
}
.services-footer-section .services-footer address h3 {
  font-size: 18px;
}
.services-footer-section .services-footer address div {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
}
.services-footer-section .copyright {
  display: flex;
  justify-content: center;
  font-size: 11px;
}
.menu {
  display: none;
  position: fixed;
  top: 48px;
  width: 1023px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #99A4AF;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul li {
  list-style-type: none;
  font-size: 48px;
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 85px;
}
.menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
.menu ul li a:hover {
  color: #222222;
}
.menu--open {
  display: block;
}
/* Your Code Goes Here */
body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  width: 1023px;
}
button {
  border: 1px solid #222222;
  height: 47px;
  font-size: 16px;
  width: 136px;
  text-align: center;
}
.menu-img {
  background-image: url("../img/home/home-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 598px;
  color: #FFFFFF;
}
.menu-img .menu-items {
  background-color: #99A4AF;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-img .menu-items h1 {
  margin-left: 90px;
  font-size: 22px;
}
.menu-img .menu-items img {
  margin-right: 80px;
}
.menu-img p {
  margin-left: 83px;
  margin-top: 275px;
  font-size: 63px;
  font-weight: bold;
  line-height: 1.2;
}
.business-content {
  display: flex;
  justify-content: space-between;
  width: 854px;
  margin: 0 auto;
}
.business-content .smith-jones-container,
.business-content .futuristic-designs-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.business-content .smith-jones-content,
.business-content .futuristic-designs-content {
  width: 411px;
}
.business-content .smith-jones-content {
  margin-top: 50px;
}
.business-content .smith-jones-content h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.business-content .smith-jones-content p {
  line-height: 1.6;
  margin-bottom: 25px;
}
.business-content .smith-jones-content .sjones-button {
  margin-bottom: 135px;
}
.business-content .futuristic-designs-content img {
  margin-bottom: 139px;
}
.business-content .futuristic-designs-content h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.business-content .futuristic-designs-content p {
  line-height: 1.6;
  margin-bottom: 25px;
}
.business-content .futuristic-designs-content .project-text {
  line-height: 1.6;
  margin-bottom: 25px;
}
.recent-projects {
  margin: 0 auto;
  margin-top: 95px;
  width: 854px;
}
.recent-projects h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 45px;
}
.recent-projects .villas,
.recent-projects .outskirts,
.recent-projects .blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-projects .villas .project-text,
.recent-projects .outskirts .project-text,
.recent-projects .blocks .project-text {
  width: 450px;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 28px;
}
.recent-projects .villas .villas-box {
  background-image: url("../img/home/home-villas-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 854px;
  margin-bottom: 93px;
  display: flex;
  letter-spacing: 8px;
}
.recent-projects .villas .villas-box .title-box {
  border: 1px solid #FFFFFF;
  position: relative;
  top: 77%;
  font-size: 25px;
  width: 315px;
  text-align: center;
  background-color: #D8D8D8;
  height: 94px;
  display: flex;
  align-items: center;
  left: 63%;
}
.recent-projects .villas .villas-box .title-box p {
  margin: 0 auto;
}
.recent-projects .outskirts .outskirts-box {
  background-image: url("../img/home/home-outskirts-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 854px;
  margin-bottom: 93px;
  display: flex;
  letter-spacing: 8px;
  margin-top: 80px;
}
.recent-projects .outskirts .outskirts-box .title-box {
  border: 1px solid #FFFFFF;
  position: relative;
  top: 77%;
  font-size: 25px;
  width: 315px;
  text-align: center;
  background-color: #D8D8D8;
  height: 94px;
  display: flex;
  align-items: center;
}
.recent-projects .outskirts .outskirts-box .title-box p {
  margin: 0 auto;
}
.recent-projects .blocks .blocks-box {
  background-image: url("../img/home/home-the-blocks-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 854px;
  margin-bottom: 93px;
  display: flex;
  letter-spacing: 8px;
  margin-top: 80px;
}
.recent-projects .blocks .blocks-box .title-box {
  border: 1px solid #FFFFFF;
  position: relative;
  top: 77%;
  font-size: 25px;
  width: 315px;
  text-align: center;
  background-color: #D8D8D8;
  height: 94px;
  display: flex;
  align-items: center;
  left: 63%;
}
.recent-projects .blocks .blocks-box .title-box p {
  margin: 0 auto;
}
.footer-section {
  background-color: #828282;
  height: 248px;
  margin-top: 74px;
  margin-bottom: 20px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer-section .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  margin: 0px 60px;
}
.footer-section .footer .contact-invite {
  font-size: 20px;
  margin-bottom: 5px;
}
.footer-section .footer input {
  width: 275px;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0px;
}
.footer-section .footer .privacy-statement {
  font-size: 13px;
}
.footer-section .footer address {
  line-height: 1.6;
}
.footer-section .footer address h3 {
  font-size: 18px;
}
.footer-section .footer address div {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
}
.footer-section .copyright {
  display: flex;
  justify-content: center;
  font-size: 11px;
}
