/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,lege
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* Your Code Goes Here */
//variables
@white: #FFFFFF; //general background, jumbotron header color, footer headings color, footer text color, nav logo logo, expanded nav text color
@black: #222222; //general color, sub headers, home button borders, services tab hover background, expanded nav text hover color

@home-rcnt-proj-sqr: #D8D8D8;
@svcs-tab-selct-bkgrnd: #5E9FB9;
@svcs-tab-hvr-colr: #FFF;
@ftr-bkgrnd: #828282;

body {
  font-family: "Roboto", sans-serif;
}

.container {
  border: 1px solid orange;
  margin: 0 auto;
  width: 1023px;
}

button {
  border: 1px solid @black;
  //padding: 14px 25px;
  height: 47px;
  font-size: 16px;
  width: 136px;
  text-align: center;
}

.menu-img {
  background-image: url("../img/home/home-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 598px;
  color: @white;

  .menu-items {
    background-color: #99A4AF;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //position: fixed;

    h1 {
      margin-left: 90px;
      font-size:  22px;
    }

    img {
      margin-right: 80px;
    }
  }

  p {
    margin-left: 83px;
    margin-top: 275px;
    font-size: 63px;
    font-weight: bold;
    line-height: 1.2;
  }
}

.business-content {
  display: flex;
  justify-content: space-between;
  ///border: 1px solid red;
  width: 854px;
  margin: 0 auto;

  .smith-jones-container, .futuristic-designs-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .smith-jones-content, .futuristic-designs-content {
    //border: 1px solid blue;
    width: 411px;
  }

  .smith-jones-content {
    margin-top: 50px;

    h2 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 20px;
    }

    p {
      line-height: 1.6;
      margin-bottom: 25px;
    }

    .sjones-button {
      margin-bottom: 135px;
    }    
  }

  .futuristic-designs-content {
    img {
      margin-bottom: 139px;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 20px;
    }

    p {
      line-height: 1.6;
      margin-bottom: 25px;
    }
  }

}

.recent-projects {
  margin: 0 auto;
  margin-top: 95px;
  
  border: 1px solid blue;
  width: 854px;
  

  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 45px;
  }

  .villas, .outskirts, .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 854px;
    }

    p {
      width: 500px;
    }
  }
}


.footer-section {
  display: flex;
  flex-direction: column;

  .footer {
    display: flex;
  }
}